body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}


#menuebar{
  background-color:lightsteelblue;
  height:50px;
  width:1024px;

 
}

#leftsidebar{
  background-color:slategray;
  height:480px;
  width:192px;
  float:left
}

#canvas{
  
  height:480px;
  width:640px;
  float:left;
  

}

#rightsidebar{
  background-color:slategray;
  height:480px;
  width:192px;
  float:left;

}

#statusbar{
  background-color:lightsteelblue;
  height:50px;
  width:1024px;
  float:left;

}
