body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}


#menuebar{
  background-color:blue;
  height:50px;
  width:1024px;

 
}

#leftsidebar{
  background-color:mediumaquamarine;
  height:480px;
  width:192px;
  float:left
}

#canvas{
  
  height:480px;
  width:640px;
  float:left;
  

}

#rightsidebar{
  background-color:mediumaquamarine;
  height:480px;
  width:192px;
  float:left;

}

#statusbar{
  background-color:blue;
  height:50px;
  width:1024px;
  float:left;

}
#depthgauge{
    background-color:red;
    height:160px;
    width:192px;
    float:left;

}
#compass{
    background-color:green;
    height:160px;
    width:192px;
    float:left;

}
#otherthing{
    background-color:orange;
    height:160px;
    width:192px;
    float:left;

}