extends layout

block content
	script(src='public/javascripts/jquery-1.10.2.min.js') 
	script(src='public/javascripts/jquery-ui-1.8.20.min.js')
	script(src='public/javascripts/socket.io.js')
	script(src='public/javascripts/simpage.js')
	
	h1 Cockpit Sim Inputs

	fieldset(class='myfields')
		legend Cockpit Control
		div
			label slider
			input(id='inputDepthSlider', type='range', max='500')
		div
			label Roll
			input(id='inputRollSlider', type='range', min='-90', max='90')
		div
			label Pitch
			input(id='inputPitchSlider', type='range',  min='-90', max='90')
		div(id='gamepadPrompt')